<header>
    <nav class="nav justify-content-between">
        <a class="nav-link display-4" href="/">LBB</a>
        <% if (currentUser) { %>
        <div class="nav-link">
            <h5>Hello, <a href="/profile"><%= currentUser.firstName %></a></h5>
            <form action="/sessions?_method=DELETE" method="POST">
                <button class="btn btn-secondary btn-small">Log Out</button>
            </form>
            <% } else { %>
            <div class="nav-link">
                <a class="nav-link" href="/users/new">Sign Up</a>
                <a class="nav-link" href="/sessions/new">Log in</a>
            </div>
            <% } %>  
        </div>  
    </nav>
</header>