<header>
    <nav>
        <a href="/">Home</a>
        <a href="/categories">Products</a>
        
        <% if (currentUser) { %>
            Hello, <%= currentUser.username %>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" />
            </form>
            <% } else { %>
                <a href="/users/new">Sign Up</a>
                <a href="/sessions/new">Log in</a>
            <% } %>
        
    </nav>
</header>