<!DOCTYPE html>
<html lang="en">
    <!---------- HEAD TAG ----------->
    <%- include ('./partials/head.ejs') %>
        
<body>
    <!---------- HEADER ----------->
    <%- include ('./partials/header.ejs') %>

    <h1>Edit Account</h1>

    <form action="/users/<%=currentUser._id%>?_method=PUT" method="POST">
        Username: <input type="text" name="username" value="<%= currentUser.username %>" /><br/>

        <input type="submit" value="Submit Changes" />
    </form>


</body>
</html>