<!DOCTYPE html>
<html lang="en">
    <!---------- HEAD TAG ----------->
    <%- include ('./partials/head.ejs') %>
<body>
    <!---------- HEADER ----------->

    <%- include ('./partials/header.ejs') %>

    <h1>Ice Tools</h1>
<div class="container">  
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4 card-box">
            <div class="card bg-secondary text-white">
                <img src="/ice-stamp-combined.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Custom Ice Stamp</h5>
                    <p class="card-text">$30</p>
                </div>
            </div>
        </div>
        <div class="col mb-4 card-box">
            <div class="card bg-secondary text-white">
                <img src="/ice-ball-maker.jpeg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Ice Ball Maker</h5>
                    <p class="card-text">$125</p>
                </div>
            </div>
        </div>
</div>

    <!---------- FOOTER ----------->
    <%- include ('./partials/footer.ejs') %>  
</body>
</html>