<!DOCTYPE html>
<html lang="en">
    <!---------- HEAD TAG ----------->
    <%- include ('./partials/head.ejs') %>
<body>
    <!---------- HEADER ----------->

    <%- include ('./partials/header.ejs') %>

    <h1>Ice</h1>
    <% for (let i = 0; i < products.length; i++) { %>
        <% if (products[i].category === 'Ice') { %>
            <a href="/<%= products[i].id %>">
                <%= products[i].name %>
            </a>
        <% } %>
    <% } %> 
</body>
</html>