<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Page is linked</h1>
    <form action="/home" method="POST">
        Name: <input type="text" name="name" />
        Price: <input type="text" name="price" />
        Image: <input type="text" name="image" />
        Description: <input type="text" name="description" />
        Category: <input type="text" name="category" />
        Purchased <input type="checkbox" name="purchased" />
        <input type="submit" value="Create product" />
    </form>
</body>
</html>