<!DOCTYPE html>
<html lang="en">
    <!---------- HEAD TAG ----------->
    <%- include ('./partials/head.ejs') %>
        
<body>
    <!---------- HEADER ----------->
    <%- include ('./partials/header.ejs') %>


        <h1>Profile page</h1>

        <%= currentUser.username %>
        

</body>
</html>