<!DOCTYPE html>
<html lang="en">
    <!---------- HEAD TAG ----------->
    <%- include ('./partials/head.ejs') %>
<body>
    <!---------- HEADER ----------->

    <%- include ('./partials/header.ejs') %>

    <h1>Show page (individual product page)</h1>
    The <%= products.name %> is <%= products.price %>

    <button><a href="/cart">Add to Cart</a></button>
</body>
</html>