<!DOCTYPE html>
<html lang="en">
    <!-- Could not get my partials link to work for head and header -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Bar Supply | Login</title>
    </head>
<body>
    <header>
        <nav class="nav justify-content-between">
            <a class="nav-link display-4" href="/">LBB</a>
            <% if (currentUser) { %>
            <div class="nav-link">
                <p>Cheers, <%= currentUser.firstName %></p>
                <form action="/sessions?_method=DELETE" method="POST">
                    <button>Log Out</button>
                </form>
                <% } else { %>
                <div class="nav-link">
                    <a class="nav-link" href="/users/new">Sign Up</a>
                    <a class="nav-link" href="/sessions/new">Log in</a>
                </div>
                <% } %>  
            </div>  
        </nav>
    </header>

    <section class="container sign-up">
        <h1 class="display-4">Login</h1>
        <form class="col" action="/sessions" method="POST">
            <label class="h5 col" for="username">Username</label>
            <input type="text" id="username" name="username" value=""/>

            <label class="h5 col" for="password">Password</label>
            <input type="password" id="password" name="password" value =""/>

            <br/>
            <input class="btn btn-secondary btn-lg login" type="submit" value="Login" />
        </form>
    </section>

    <footer>   
        <nav class="footer">
            <p>
                Measured, shaken, and stirred by <span class="github"><a href="https://github.com/kevinjcasey" target="_blank">Kevin Casey</a></span>  
            </p>
        </nav>
    </footer>
</body>
</html>